


header {
	
}


body {
	background-color: blue;

}

#container {
	margin: 50px auto;
	width: 960px;
	background-color: red;
}

h1 {
	color: yellow;
	font-size: 40px;
	margin:0px auto;
}


#right_side {
	margin-left:500px;
	width: 400px;
	background-color: green;
}